/__pycache__/
/_DOC/
/_DOC

/RGB-D_Face_database

/pictures/
/pictures

/data/
/data

/results/
/results

/facenet/__pycache__/
/facenet/images
/facenet/__pycache__/

/1_dlib/pictures
/1_dlib/screenshot/
/1_dlib/screenshot/*.jpg
/1_dlib/*.jpg
/1_dlib/*.xml
/1_dlib/__pycache__/
#/1_dlib/Face-Recognition-Using-OpenCV-and-Python-master/
#/1_dlib/face_recognition-master/

/2_dlib+YOLO/haarcascade_frontalface_default.xml
/2_dlib+YOLO/pictures/
/2_dlib+YOLO/pictures
/2_dlib+YOLO/__pycache__/
/2_dlib+YOLO/YOLOv3-wider_16000.weights/
/2_dlib+YOLO/YOLOv3-wider_16000.weights
/2_dlib+YOLO/*.jpg

/3_dlib+faced/YOLOu.py
/3_dlib+faced/YOLOv3-face.cfg
/3_dlib+faced/YOLOv3-wider_16000.weights/
/3_dlib+faced/YOLOv3-wider_16000.weights
/3_dlib+faced/haarcascade_frontalface_default.xml
/3_dlib+faced/pictures/
/3_dlib+faced/pictures
/3_dlib+faced/tmp/
/3_dlib+faced/models/
/3_dlib+faced/models
/3_dlib+faced/__pycache__/
/3_dlib+faced/*.jpg

*.swp
keras.json
.tcshrc
